@import url(./_next/place__desc_next.css);

.place__desc {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

@media screen and (max-width: 920px) {
  .place__desc {
    font-size: 16px;
    line-height: 27px;
  }
}

@media screen and (max-width: 600px) {
  .place__desc {
    margin-top: 24px;
  }
  .place__clean {
    width: 90%;
  }
}
