.comments__subtitle {
  margin: 48px 0px 72px;
  line-height: 35px;
  text-align: center;
  width: 60%;
}

@media screen and (max-width: 1024px) {
  .comments__subtitle {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .comments__subtitle {
    margin: 24px 0px 48px;
    line-height: 23px;
    width: 90%;
  }
}